/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display:400,700|Catamaran:600&display=swap');

/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #df4e4e;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Big Shoulders Display", sans-serif;
  flex-direction: column;
  display: flex;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: var(--font-size-large);
}

h3 {
  margin: .25em 0 0;
  text-transform: uppercase;
  font-size: 35px;
}

button {
  margin: 6px 3px;
  padding: 5px 15px;
  min-width: 20px;
  border: 1px solid transparent;
  color: var(--color-keys-light);
  font-family: "Helvetica Neue", sans-serif;
  font-size: var(--font-size-medium);
  background-color: var(--color-keys);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  box-shadow: 0px 5px 0px 0px rgba(172, 170, 170, 0.75);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 700px;
  overflow: hidden;
}

.section {
  width: 100%;
  padding: 10px;
}

/* Title */

.header {
  color: var(--color-start);
}

/* Phrase */

.letter {
  font-family: "Catamaran", sans-serif;
  font-size: var(--font-size-medium);
  line-height: 2;
  height: 50px;
  width: 50px;
  padding: 5px 1px;
  margin-right: 2px;
  margin-bottom: 4px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
  user-select: none;
}

.space {
  width: 15px;
}

.show {
  color: #fff;
  background-color: var(--color-win);
  transition: transform 1s cubic-bezier(.17, -.62, .27, 1.2), background-color 1.5s;
  transform: rotateY(360deg);
  position: relative;
}

.show:first-child::before {
  content: open-quote;
  font-size: 23px;
  color: #fff;
  color: #58985f;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -3px;
  left: -5px;
}

.show:last-child::before {
  content: close-quote;
  font-size: 23px;
  color: #fff;
  color: #58985f;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -3px;
  right: -5px;
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.chosen {
  background: var(--color-neutral);
  border-radius: 5px;
  box-shadow: 0px 5px 0px 0px rgba(172, 170, 170, 0.75),
              inset 0 3px 5px 0 rgba(0,0,0,0.85);
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.btn__reset {
  padding: 12px 15px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.title {
  color: #FFF;
}

.start {
  background-color: var(--color-start);
}

.win {
  background-color: var(--color-win);
}

.lose {
  background-color: var(--color-lose);
}

.start a,
.win a,
.lose a {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
  color: var(--color-win);
  text-transform: uppercase;
}

.win a,
.lose a {
  order: 1;
}

@media (min-width: 768px) {
  button {
    margin: 6px;
    padding: .2rem 1rem .5rem 1rem;
    width: 50.44px;
    height: 40px;
  }
}